[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    base.cfg

update-versions-file = test-6.0.cfg

[versions]
cmarkgfm = 2024.11.20

# to keep prompt-toolkit < 3
ipython = 8.3.0

ipdb = 0.13.9
iw.debug = 0.3
jedi = 0.18.1
parso = 0.8.3
pdbp = 1.7.0
plone.versioncheck = 1.8.2

# Required by:
# ipdb
asttokens = 2.0.8
backcall = 0.2.0
executing = 1.1.1
matplotlib-inline = 0.1.6
pexpect = 4.8.0
pickleshare = 0.7.5
ptyprocess = 0.7.0
pure-eval = 0.2.2
stack-data = 0.5.1
traitlets = 5.4.0

# Added by buildout at 2026-04-24 09:22:46.541295
CacheControl = 0.14.4
archetypes-querywidget = 1.1.3
build = 1.4.4
collective-behavior-talcondition = 1.1.1
collective-compoundcriterion = 0.7
collective-eeafaceted-batchactions = 1.17.0
collective-eeafaceted-collectionwidget = 1.18
collective-eeafaceted-dashboard = 0.23.2
collective-fontawesome = 1.1
collective-js-iframeresizer = 0.4
collective-js-jqueryui = 2.2.0
collective-js-tooltipster = 1.8
collective-quickupload = 1.11.1
collective.documentgenerator = 4.0
coverage = 7.13.5
createcoverage = 1.5
eea-facetednavigation = 16.4
eea-jquery = 11.4
filelock = 3.29.0
five.grok = 4.0
flake8 = 7.3.0
flake8-isort = 7.0.0
grokcore.component = 5.1
grokcore.view = 5.1
grokcore.viewlet = 5.1
i18ndude = 6.3.0
imio-actionspanel = 1.70
imio-dashboard = 2.12
imio-helpers = 1.3.14
imio-migrator = 1.40.0
imio-prettylink = 1.24
imio-pyutils = 1.2.2
isort = 8.0.1
keyring = 25.7.0
markdown-it-py = 4.0.0
martian = 2.1
mccabe = 0.7.0
mdurl = 0.1.2
more-itertools = 11.0.2
msgpack = 1.1.2
nh3 = 0.3.4
plone-app-jquery = 1.11.2
plone-app-jquerytools = 1.9.5
plone-directives-form = 2.0.3
plone-formwidget-masterselect = 1.8
plone-recipe-codeanalysis = 3.0.1
pycodestyle = 2.14.0
pyflakes = 3.4.0
pyproject-hooks = 1.2.0
readme-renderer = 44.0
repoze-catalog = 0.9.0
requests-toolbelt = 1.0.0
rfc3986 = 2.0.0
rich = 15.0.0
shortuuid = 1.0.13
tabcompleter = 1.4.0
twine = 6.2.0
ua-parser = 1.0.2
z3c.batching = 4.0
zest.releaser = 9.9.0
zope.index = 8.1

# Required by:
# imio-actionspanel==1.70
appy = 1.0.21

# Required by:
# plone-recipe-codeanalysis==3.0.1
check-manifest = 0.51

# Required by:
# collective.documentgenerator==4.0
# collective.eeafaceted.z3ctable==2.29.dev0
collective.excelexport = 2.0

# Required by:
# imio-actionspanel==1.70
# imio-helpers==1.3.14
collective.fingerpointing = 1.8.3

# Required by:
# collective.documentgenerator==4.0
collective.z3cform.datagridfield = 4.0.0

# Required by:
# collective.fingerpointing==1.8.3
file-read-backwards = 3.2.0

# Required by:
# five.grok==4.0
grokcore.annotation = 5.1

# Required by:
# grokcore.view==5.1
grokcore.security = 5.1

# Required by:
# five.grok==4.0
grokcore.site = 5.1

# Required by:
# twine==6.2.0
id = 1.6.1

# Required by:
# keyring==25.7.0
jaraco.classes = 3.4.0

# Required by:
# keyring==25.7.0
jaraco.context = 6.1.2

# Required by:
# keyring==25.7.0
jaraco.functools = 4.4.0

# Required by:
# collective.documentgenerator==4.0
phonenumbers = 9.0.28

# Required by:
# imio-pyutils==1.2.2
psutil = 7.2.2

# Required by:
# collective.dms.scanbehavior==1.3.4.dev0
rwproperty = 1.0

# Required by:
# ua-parser==1.0.2
ua-parser-builtins = 202603

# Required by:
# collective.excelexport==2.0
xlwt = 1.3.0

# Required by:
# collective.iconifiedcategory==0.70.dev0
z3c.jbot = 3.1

# Required by:
# collective.iconifiedcategory==0.70.dev0
z3c.table = 4.0

# Required by:
# collective-eeafaceted-dashboard==0.23.2
# imio-helpers==1.3.14
z3c.unconfigure = 3.0

# Required by:
# zope.login==4.0
zope.authentication = 6.0

# Required by:
# z3c.table==4.0
zope.dublincore = 6.0

# Required by:
# grokcore.viewlet==5.1
zope.login = 4.0
